body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff; /* Bianco */
    margin: 0;
    padding: 0;
    color: #d50000; /* Rosso */
}

.container {
    margin-top: 50px;
    padding: 20px;
}

h1 {
    color: #d50000; /* Rosso VL */
    font-size: 26px;
    font-weight: bold;
}

p {
    font-size: 22px;
    color: #333;
    margin: 20px 0;
    padding: 15px;
    background: #ffffff;
    border: 2px solid #d50000;
    border-radius: 10px;
    display: inline-block;
}

button {
    background-color: #d50000; /* Rosso VL */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #a00000;
}
